[name='MorePopover'] {
   height:100px;
   width:200px;
    background: #232525;
    position:absolute;

}
.create{
	
}
.Separator{
	border-bottom: 1px solid #3e3e3e;
	height:1px;
	    padding: unset;
    margin: 6px 0;
}